<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Главная</title>

  <link rel="stylesheet" href="static\main\style.css">

</head>

<body>
  <ul class="hr">
    <li><a href="#">О магазине</a></li>
    <li><a href="#">Помощь</a></li>
    <li><a href="#">Новости</a></li>
    <li><a href="#">Гарантия</a></li>
    <li><a href="#">Сервис</a></li>
    <li><a href="#">Вопрос-ответ</a></li>
    <li><a href="#">Оплата и доставка</a></li>
    <li><a href="#">Обратная связь</a></li>
    <li><a href="#">Правила дистанционной торговли</a></li>
  </ul>

<div class="container-1">

  <div class="box-1">

    <img src="static\main\images\logo100x110.jpg" alt="log drel">
    <b>
    <br>Интернет-магазин</b>
    <p><b> электроинструмента</b> </p>
    

  </div>

  <div class="box-2">

    <ull class="lk">

      <li><a href="#">Личный кабинет</a></li>
      |
      <li><a href="#">Выход</a></li>

      <p>Ваша корзина пуста</p>
      <p>
      <form action="" method="get">
        <input name="s" placeholder="Искать здесь..." type="search">
        <button type="submit">Поиск</button>
      </form>
    
    </ull>

  </div>

  <div class="box-3">
    <h3>Барнаул</h3>
    <p> +7(3999) 223-322
      <p>Работаем 10-19, вых.воскр
        <p>заказ на сайте круглосуточно</p>
  </div>
</div>

<div class="container-2">

  <div class="box11">
    <h3>Каталог</h3>

    <ul class="hrr">

      <li> <a href="#">Аккумуляторный инструмент
        
      </a>
      </li>

      <li>
        <a href="#">
          <h2>Cистема 18В</h2>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Cистема 14В</h2>
        </a>
      </li>

      <li>
        <a href="#">
                    <h2>Cистема 12В</h2>
        </a>
      </li>

      <li> <a href="#">Лазерные уровни, дальномеры</a></li>
      <li> <a href="#">Сетевые дрели, шуруповерты,миксеры</a></li>
      <li> <a href="#">Перфораторы и отбойные молотки</a></li>

    </ul>

  </div>

  <div class="box22">

    <!--в боксе 22 другие боксы-->

    <div class="box33">

      <a href="#">Главная</a> >> Аккумуляторные дрели и шуруповерты
<p> 
<b>
Аккумуляторные дрели и шуруповерты
</b>


<form method='post' action="">
  {% csrf_token %}
  <select name='select'>
    <option value="az"> по имени (A-Z)</option>
    <option  value="za"> по имени (Z-A)</option>
    <option  value="up">по цене (дороже)</option>
    <option value="down">по цене (дешевле)</option>
  </select>
  <input type='submit' value='отсортировать' />
 </form>
</p>





      <div class="boxwhodrel">
        <!--в боксе boxwhodrel другие боксы в которых дрель-->
  
        <div class="boxdrel">
  
          {{0.name}}
          {{0.price}}
          <img src={{0.img}} alt="log drel">
  
  
  
          
        </div>
        <div class="boxdrel">
  
            
          {{1.name}}
          {{1.price}}
          <img src={{1.img}} alt="log drel">
  
  
        </div>
   
          <div class="boxdrel">
  
            
            {{2.name}}
            {{2.price}}
            <img src={{2.img}} alt="log drel">
    
  
          </div>
  
  
        </div>
  
  
  
  
        <div class="boxwhodrel">
          <!--в боксе boxwhodrel другие боксы в которых дрель-->
          <div class="boxdrel">
  
            {{3.name}}
            {{3.price}}
            <img src={{3.img}} alt="log drel">
    
  
          </div>
  
  
          <div class="boxdrel">
  
            
            {{4.name}}
            {{4.price}}
            <img src={{4.img}} alt="log drel">
   
          
  
  
          </div>
  
          <div class="boxdrel">
  
            
            {{5.name}}
            {{5.price}}
            <img src={{5.img}} alt="log drel">
    
  
  
          </div>
            
        
      </div>
  
      <div class="boxwhodrel">
        <!--в боксе boxwhodrel другие боксы в которых дрель-->
  
  
        <div class="boxdrel">
  
          {{6.name}}
          {{6.price}}
          <img src={{6.img}} alt="log drel">
  
  
        </div>
          <div class="boxdrel">
  
            
            {{7.name}}
            {{7.price}}
            <img src={{7.img}} alt="log drel">
    
  
          </div>
  
          <div class="boxdrel">
  
            {{8.name}}
            {{8.price}}
            <img src={{8.img}} alt="log drel">
    
  
          </div>
  
  
  
  
    </div>
  
      </div>

    <div class="box66">

      <ul class="hrrr">
        <li> 
        Cтраницы
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">Все</a>
      </li>

      </ul>

    </div>

  </div>

</div>
<p>
<img style="padding: 10px;" src="static\main\images\visa_logo_40x13.png" alt="logovisa">

<img style="padding: 5px;" src="static\main\images\mastercard_logo_40x24.png" alt="log master">

</p>


</body>
</html>